@font-face {
  font-family: "iconfont"; /* Project id 3558029 */
  src: url('iconfont.woff2?t=1659234779680') format('woff2'),
       url('iconfont.woff?t=1659234779680') format('woff'),
       url('iconfont.ttf?t=1659234779680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anquanzhongxin:before {
  content: "\e895";
}

.icon-yanjing_bi:before {
  content: "\e61b";
}

